<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>날짜 범위 선택</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- 외부 CSS 파일 링크 -->
</head>
<body>
    <div class="dataSelectionContainer">
        <h1>외박 일자 선택</h1>
        <form th:action="@{/submitDateRange}" method="post">
            <div class="form-group">
                <label for="startDate">시작일:</label>
                <input type="date" id="startDate" name="startDate" required>
            </div>
            <div class="form-group">
                <label for="endDate">종료일:</label>
                <input type="date" id="endDate" name="endDate" required>
            </div>
            <div class="form-group">
                <button type="submit">제출</button>
            </div>
        </form>
        <p><a th:href="@{/}">메인화면</a></p>
    </div>
</body>
</html>
